<div class="navbar">
    <div class="homeButton"><a href="/">Home</a></div>
    <div class="searchContainer">
        <form class="searchContainerForm" action="/search">
            <input name="q" id="inputSearch" type="text" placeholder="Search Videos (e.g. &quot;Javascript&quot;, &quot;Variables&quot;)">
        </form>
    </div>
    <%if (user === undefined || user === null) {%>
        <div class="loginRegisterContainer">
            <div class="loginButton"><a href="/auth/login">Login</a></div>
            <div class="registerButton"><a href="/auth/register">Register</a></div>
        </div>
    <%}else{%>
        <div class="userDropDownLinks">
            <div><a href="/user/<%= user.username %>"><div id="avatar" class="navbarProfilePic" style="background-image:url('<%=user.pic_url%>')"></div></a></div>
            <ul class="userSubmenu">
                <li><a href="/user/<%= user.username %>/dashboard">Dashboard</a></li>
                <li><a href="/user/<%= user.username %>/settings">Settings</a></li>
                <li><a href="/auth/logout">Logout</a></li>
            </ul>
        </div>
    <%}%>
</div>