@mixin bg-properties($position, $size, $url:"") {
    background-repeat: no-repeat;
    background-position: $position;
    background-size: $size;
    @if $url != "" {
        background-image: $url
    }
}

@mixin border($size, $color, $direction) {
    border-#{$direction}:solid $size $color;
}

@mixin button-highlight {
    background-color:var(--primary-color-hover);
    cursor: pointer;
}

@mixin button-focus {
    @include button-highlight;
    outline:solid 0.125rem #FFF;
}

@mixin max-lines($num) {
    display:-webkit-box;
    -webkit-line-clamp: $num;
    -webkit-box-orient: vertical;
    overflow:hidden;
}

:root {
    --primary-bg-color:#131313;
    --primary-bg-color-lt1:#151515;
    --primary-bg-color-lt2:#1c1c1c;
    --primary-bg-color-lt3:#2C2C2C;
    --primary-color:rgb(53, 115, 221);
    --primary-color-hover:#0048B0;
    --primary-color-lt1:#5EA7EE;
    --link-highlight:#323E5C;
    --muted-text:#aaa;
}
body {
    background-color:var(--primary-bg-color);
    color:var(--muted-text);

    main {
        margin-top:4rem;
        flex-grow:1;
    }

    #root {
        min-height:100vh;
        display:flex;
        flex-flow:column;
    }
}

@media (max-width:760px) {
    body {
        main {
            margin-top:8rem;
        }
    }
}

@media (max-width:500px) {
    body {
        main {
            margin-top:6rem;
        }
    }
}