.env
.env.development
.env.production
.npmrc
.htaccess
.bak
/assets
/node_modules
/public/assets
/tmp

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sqlite