<%- include("./partials/navbar.ejs") %>
<h1>Login</h1>
<%- include("./partials/flashError.ejs") %>
<form action="/login" method="POST">
  <label for="username">Username: </label>
  <input
    name="reg[username]"
    type="text"
    placeholder="Enter username"
    required
  />
  <label for="regpassword">Password: </label>
  <input
    name="reg[password]"
    type="password"
    placeholder="Enter password"
    required
  />
  <button>Login</button>
</form>
<a href="/register">Register</a>
