<%- include("./partials/navbar.ejs") %>
<h1>Register</h1>
<%- include("./partials/flashError.ejs") %>
<form action="/register" method="POST">
  <label for="username">Username: </label>
  <input
    name="reg[username]"
    type="text"
    placeholder="Enter username"
    required
  />
  <label for="email">Email: </label>
  <input name="reg[email]" type="email" placeholder="email" required />
  <label for="password">Password: </label>
  <input
    name="reg[password]"
    type="password"
    placeholder="Enter password"
    required
  />
  <label for="repeat_password">Password: </label>
  <input
    name="reg[repeat_password]"
    type="password"
    placeholder="Enter password"
    required
  />
  <button>Register</button>
</form>
</body>
