<div class="loggingContainer">
  <%- include("./partials/navbar.ejs") %>
  <div class="loggingFormContainer">
    <h1 class="loggingHeader">Sign Up</h1>
    <%- include("./partials/flashError.ejs") %>
    <form action="/auth/register" method="POST">
      <label class="loggingLabel" for="username">Username</label>
      <input
        name="reg[username]"
        id="username"
        type="text"
        placeholder="Enter username"
        class="loggingText"
        required
      />
      <p class="loggingTextErrorMessage">
        Username must be between 3 and 24 characters
      </p>
      <label class="loggingLabel" for="email">Email</label>
      <input
        name="reg[email]"
        id="email"
        type="email"
        placeholder="email"
        class="loggingText"
        required
      />
      <p class="loggingTextErrorMessage">
        Enter a valid email no more than 45 characters
      </p>
      <label class="loggingLabel" for="regpassword">Password</label>
      <input
        name="reg[password]"
        id="regpassword"
        type="password"
        placeholder="Enter password"
        class="loggingText"
        required
      />
      <p class="loggingTextErrorMessage">
        Password must be between 3 and 24 characters
      </p>
      <label class="loggingLabel" for="repeat_password">Repeat Password</label>
      <input
        name="reg[repeat_password]"
        id="repeat_password"
        type="password"
        placeholder="Re-Enter Password"
        class="loggingText"
        required
      />
      <p class="loggingTextErrorMessage">Passwords don't match</p>
      <button class="btnLogin" id="btnLogin">Sign Up</button>
    </form>
  </div>
  <div class="signUpContainer">
    <a href="/auth/login">Already registered? Log In</a>
  </div>
</div>

<script>
  let username = document.getElementById("username");
  let email = document.getElementById("email");
  let password = document.getElementById("regpassword");
  let repeat_password = document.getElementById("repeat_password");
  let btnLogin = document.getElementById("btnLogin");

  username.addEventListener("keyup", () => {
    let length = username.value.length;
    if (length < 3 || length > 24) {
      username.classList.add("loggingTextError");
      username.nextElementSibling.classList.add("loggingTextErrorMessageShow");
      btnLogin.classList.add("btnLoginError");
    } else {
      username.classList.remove("loggingTextError");
      username.nextElementSibling.classList.remove(
        "loggingTextErrorMessageShow"
      );
      btnLogin.classList.remove("btnLoginError");
    }
  });

  email.addEventListener("keyup", () => {
    let length = email.value.length;
    if (!email.value.includes("@") || length > 45) {
      email.classList.add("loggingTextError");
      email.nextElementSibling.classList.add("loggingTextErrorMessageShow");
      btnLogin.classList.add("btnLoginError");
    } else {
      email.classList.remove("loggingTextError");
      email.nextElementSibling.classList.remove("loggingTextErrorMessageShow");
      btnLogin.classList.remove("btnLoginError");
    }
  });

  password.addEventListener("keyup", () => {
    let length = password.value.length;
    if (length < 3 || length > 24) {
      password.classList.add("loggingTextError");
      password.nextElementSibling.classList.add("loggingTextErrorMessageShow");
      btnLogin.classList.add("btnLoginError");
    } else {
      password.classList.remove("loggingTextError");
      password.nextElementSibling.classList.remove(
        "loggingTextErrorMessageShow"
      );
      btnLogin.classList.remove("btnLoginError");
    }
  });

  repeat_password.addEventListener("keyup", () => {
    if (password.value !== repeat_password.value) {
      repeat_password.classList.add("loggingTextError");
      repeat_password.nextElementSibling.classList.add(
        "loggingTextErrorMessageShow"
      );
      btnLogin.classList.add("btnLoginError");
    } else {
      repeat_password.classList.remove("loggingTextError");
      repeat_password.nextElementSibling.classList.remove(
        "loggingTextErrorMessageShow"
      );
      btnLogin.classList.remove("btnLoginError");
    }
  });
</script>
