body {
  background: rgb(45,28,51);
  background: linear-gradient(0deg, rgba(45,28,51,1) 0%, rgba(60,50,66,1) 100%); 
  background-repeat: no-repeat;
  background-attachment:fixed;
  min-width:15rem;
}
@media all and (max-width:35rem) {
  body {
      background-attachment:initial;
  }
  body:after {
      content:'';
      width:100%;
      height:100%;
      background: inherit;
      background-repeat: inherit;
      background-attachment:inherit;
      position:fixed;
      top:0;
      z-index:-1;
  }
}
.removeDisplay {
  display: none;
}
.backdrop {
  position:fixed;
  background-color: #000;
  opacity:50%;
  width:100%;
  height:100vh;
}
.displayNone {
  display:none !important;
}
.displayFlex {
  display:flex;
}
.flexWrap {
  flex-wrap: wrap;
}
.displayBlock {
  display:block;
}
.overflowHidden {
  overflow:hidden;
}
.textRight {
  text-align:right;
}
.hover:hover {
  background-color:#583762;
}
.cursorPointer {
  cursor:pointer;
}
.heightInitial {
  height:initial;
}
.errorText {
  color:#FF0000;
}
div .errorBorder {
  border:solid 2px #FF0000;
}
.modal {
  position:absolute;
  width:100%;
  min-height:10rem;
  height:20vh;
  margin:40vh auto;
}
.modal > .spinner {
  background-image:url('../assets/svg/spinner.gif');
  background-repeat:none;
  background-size: cover;
  height:4rem;
  width:4rem;
  margin:0 auto;
}
.modal > p.modelText {
  text-align:center;
  width:100%;
  color:#000;
}
.clearButtonStyles {
  border:none;
  background-color:initial;
}
.icon + span {
  display: none;
  position: absolute;
  border: solid 1px black;
  background-color: #242424;
  color:#FFF;
  font-size: 1rem;
  padding: 0.25rem;
}
.icon:hover + span {
  display:inline-block;
  margin-top:1rem;
  animation:linear tooltip;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  visibility: hidden;
}
@keyframes tooltip {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.iconLarge:hover + span {
  margin-top:1.5rem;
}
.flashError {
  width: 80%;
  margin: 1rem auto 0 auto;
  padding: 0.5rem 1%;
  background-color: rgba(252,189,188,0.5);
  color:#FFF;
  animation:fadeOut;
  animation-duration:5s;
  animation-fill-mode:forwards;
}
.flashSuccess {
  width: 80%;
  margin: 1rem auto 0 auto;
  padding: 0.5rem 1%;
  background-color: rgba(114,219,150,0.5);
  color:#FFF;
  animation:fadeOut;
  animation-duration:5s;
  animation-fill-mode:forwards;
}
@keyframes fadeOut {
  80% {
    opacity:100%;
  }
  99% {
    margin: 1rem auto 0 auto;
    padding: 0.5rem 1%;
    height:initial;
  }
  100% {
    opacity:0%;
    visibility:hidden;
    padding:0;
    margin:0;
    height:0;
  }
}
.backgroundLoading{
  background-repeat:no-repeat;
  background-position: center;
  background-size:contain;
  background-image:url("/assets/svg/spinner.gif");
}
.skip-to-main-content {
  z-index:-10;
  position:absolute;
  top:3.5rem;
  left:-999px;
  display:block;
  width:14rem;
  background-color:#1B1321;
  color:#fff;
  padding:1rem 2rem;
  border:solid 2px red;
  text-decoration:none;
  text-align:center;
  font-weight:bold;
}
.skip-to-main-content:focus-visible {
  z-index:10;
  left:calc(50vw - 9rem);
  outline:none;
}
.navbar {
  position:fixed;
  background-color:#1B1321;
  display:flex;
  width:100%;
  min-width:15rem;
  height:50px;
}
.navbar > .homeButton,
.loginRegisterContainer > div,
.userDropDownLinks {
  min-width:8rem;
  width:8rem;
  text-align:center;
  text-transform: capitalize;
  font-weight:bold;
  font-family: sans-serif;
  color:#FFF;
}
.userDropDownLinks:focus-visible {
  outline:none;
  border:solid 2px red;
}
.userDropDownLinks:focus-within > ul.userSubmenu {
  display:block;
}
.userDropDownLinks:focus-within > ul.userSubmenu a:focus-visible {
  outline:none;
  border:solid 2px red;
}
.homeButton a:focus-visible,
.loginButton a:focus-visible,
.registerButton a:focus-visible,
a.recentVideoLink:focus-visible,
.recentVideo > a:nth-child(2):focus-visible,
a.recentTopicLink:focus-visible,
.recentTopic > a:nth-child(2):focus-visible {
  outline:none;
  border:solid 2px red;
}

.recentVideo > a:nth-child(2):focus-visible p.authorUsername,
.recentTopic > a:nth-child(2):focus-visible p.authorUsername {
  color:#FFF;
}
.desktopMenu {
  display:initial;
}
.mobileMenu {
  display:none;
}
.homeButton > a,
.loginRegisterContainer > div > a,
.userDropDownLinks > a {
  display:block;
  padding:0.875rem 0;
  text-decoration:none;
}
.searchContainer {
  width:100%;
}
.searchContainer > .searchContainerForm {
  text-align:center;
}
.searchContainer > .searchContainerForm > input {
  width:50%;
  height:1.5rem;
  border:none;
  border-radius:0.5rem;
  padding:0.25rem 0.5rem;
  margin-top:0.5rem;
  background-color:#333;
  color:#FFF;
  font-size:1rem;
}
.searchContainer > .searchContainerForm > input:focus {
  outline:solid 2px red;
}
.navbarProfilePic{
  margin:8px auto;
  width:34px;
  height:34px;
  background-repeat:no-repeat;
  background-position: center;
  background-size:cover;
  border-radius:50%;
}
.loginRegisterContainer {
  display:flex;
  width:16rem;
}
.txtRegisterButton {
  background: rgb(111,2,2);
  background: linear-gradient(0deg, rgba(111,2,2,1) 0%, rgba(192,0,0,1) 100%); 
  padding:0.5rem 0.75rem;
  border-radius:0.5rem;
}
.hamburger {
  height:50px;
  background-image:url('/assets/svg/hamburger.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}
.userDropDownLinks .userSubmenu {
  position: absolute;
  display: none;
  width: 8rem;
  background-color: #1B1321;
}
.userDropDownLinks:hover .userSubmenu {
  display: flex;
  flex-direction: column;
}
.userDropDownLinks .userSubmenu li {
  height:50px;
}
.userDropDownLinks .userSubmenu li a {
  display:block;
  padding:1rem 0;
  text-decoration:none;
}
.navbar ul {
  list-style-type: none;
}
.userSubmenu a:hover {
  background-color:#503D55;
}
.topicVideo {
  background-color: #fff;
}
.dashboardTopicVideoPageContainer {
  background: rgb(37, 194, 194);
  background: linear-gradient(
    22deg,
    rgba(37, 194, 194, 1) 33%,
    rgba(13, 156, 223, 1) 100%
  );
  height: 100vh;
}
.errorPageContainer {
  width:100%;
  height:100vh;
  color:#FFF;
  overflow:hidden;
}
p.errorMessage {
  width:90%;
  margin:50px auto 0;
  padding-top:1rem;
  text-align:center;
  text-transform: uppercase;
  font-size:1.25rem;
}
@media (max-width:1100px) {
  .mobileMenu {
    display:initial;
  }
  .desktopMenu {
    display:none;
  }
  .userDropDownLinks .userSubmenu li:first-child > .profileLink {
    height:50px;
    padding:0;
    overflow:hidden;
  }
  .navbarProfilePic{
    margin:8px auto 0;
    padding:0;
    width:34px;
    height:34px;
  }
}
@media (max-width:25rem) {
  .navbar {
    flex-wrap:wrap;
    height:100px;
  }
  .searchContainer {
    width:calc(100vw - 10rem);
  }
  #inputSearch {
    width:calc(100vw - 12rem);
  }
  .userDropDownLinks {
    min-width:initial;
  }
  .loginRegisterContainer {
    width:100vw;
  }
  div.loginButton {
    width:50vw;
    min-width:initial;
  }
  div.registerButton {
    width:50vw;
    min-width:initial;
  }
  .userDropDownLinks {
    width:100vw;
  }
  .userDropDownLinks .userSubmenu {
    width: 100vw;
  }
  p.errorMessage {
    margin:100px auto 0;
  }
}