.homeContainer {
    width:100%;
    min-height:100vh;
    background-color:#242424;
    color:#FFF;
}
.recentVideosHeader,
.recentTopicsHeader {
    width:95vw;
    margin:1rem auto 0 auto;
    font-size:1.25rem;
    font-weight:bold;
}
.recentVideosContainer,
.recentTopicsContainer {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:95vw;
    margin:0 auto;
}
a.recentVideoLink,
a.recentTopicLink {
    display:block;
    text-decoration:none;
    margin-top:1rem;
    width:12.5vw;
    height:13rem;
}
.recentVideo > p:nth-child(2),
.recentTopic > p:nth-child(2) {
    margin:0.25rem 0;
    font-weight:bold;
}
.recentVideoThumbnail {
    width:100%;
    height:9rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.recentVideo > p:last-child,
.recentTopic > p:last-child {
    text-align:right;
}
@media (min-width:1710px) and (max-width:1920px) {
    a.long2 {
        display:none;
    }
    a.recentVideoLink,
    a.recentTopicLink {
        width:14vw;
        height:13rem;
    }
    a.recentVideoLink:not(:nth-child(6)):not(:nth-child(12)),
    a.recentTopicLink:not(:nth-child(6)):not(:nth-child(12)) {
        margin-right:1rem;
    }
}
@media (min-width:1490px) and (max-width:1710px) {
    a.long1,
    a.long2 {
        display:none;
    }
    a.recentVideoLink,
    a.recentTopicLink {
        width:16vw;
        height:13.5rem;
    }
    a.recentVideoLink:not(:nth-child(5)):not(:nth-child(10)),
    a.recentTopicLink:not(:nth-child(5)):not(:nth-child(10)) {
        margin-right:1rem;
    }
}
@media (min-width:1320px) and (max-width:1490px) {
    a.long2 {
        display:none;
    }
    a.recentVideoLink,
    a.recentTopicLink {
        width:19vw;
        height:13rem;
    }
    .recentVideoThumbnail {
        height:8.5rem;
    }
    a.recentVideoLink:not(:nth-child(4)):not(:nth-child(8)):not(:nth-child(12)),
    a.recentTopicLink:not(:nth-child(4)):not(:nth-child(8)):not(:nth-child(12)) {
        margin-right:1rem;
    }
}
@media (min-width:925px) and (max-width:1320px) {
    a.long1,
    a.long2,
    a.long9 {
        display:none;
    }
    a.recentVideoLink,
    a.recentTopicLink {
        width:24vw;
        height:15rem;
    }
    .recentVideoThumbnail {
        height:10.5rem;
    }
    a.recentVideoLink:not(:nth-child(3)):not(:nth-child(6)):not(:nth-child(9)),
    a.recentTopicLink:not(:nth-child(3)):not(:nth-child(6)):not(:nth-child(9)) {
        margin-right:1rem;
    }
}
@media (max-width:925px) {
    .homeRecentVideos > p:first-child,
    .homeRecentTopics > p:first-child {
        text-align:center;
    }
    a.long1,
    a.long2,
    a.long8
    a.long9 {
        display:none;
    }
    .recentVideosContainer,
    .recentTopicsContainer {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    a.recentVideoLink,
    a.recentTopicLink {
        margin-right:0 !important;
        width:25rem;
        height:16rem;
    }
    .recentVideoThumbnail {
        height:13.5rem;
    }
}