<div class="loggingContainer">
  <%- include("./partials/navbar.ejs") %>
  <div id="main" class="loggingFormContainer">
    <h1 class="loggingHeader">Account Login</h1>
    <form action="<%=API_PATH%>/auth/login" method="POST">
      <label class="loggingLabel" for="username">Username</label>
      <input
        name="username"
        id="username"
        type="text"
        placeholder="Enter username"
        class="loggingText"
        required
      >
      <label class="loggingLabel" for="regpassword">Password</label>
      <input
        name="password"
        id="regpassword"
        type="password"
        placeholder="Enter password"
        class="loggingText"
        required
      >
      <button class="btnLogin">Log In</button>
    </form>
  </div>
  <div class="signUpContainer">
    <a href="<%=API_PATH%>/auth/register">Need an account? Sign up</a>
  </div>
</div>
