<div class="loggingContainer">
  <%- include("./partials/navbar.ejs") %>
  <div id="main" class="loggingFormContainer">
    <h1 class="loggingHeader">Sign Up</h1>
    <form action="/auth/register" method="POST">
      <label class="loggingLabel" for="username">Username</label>
      <input
        name="username"
        id="username"
        type="text"
        placeholder="Enter username"
        class="loggingText"
        required
      >
      <p class="loggingTextErrorMessage errorText">
        Username must be between 3 and 24 characters
      </p>
      <label class="loggingLabel" for="email">Email</label>
      <input
        name="email"
        id="email"
        type="email"
        placeholder="email"
        class="loggingText"
        required
      >
      <p class="loggingTextErrorMessage errorText">
        Enter a valid email no more than 45 characters
      </p>
      <label class="loggingLabel" for="regpassword">Password</label>
      <input
        name="password"
        id="regpassword"
        type="password"
        placeholder="Enter password"
        class="loggingText"
        required
      >
      <p class="loggingTextErrorMessage errorText">
        Password must be between 3 and 24 characters
      </p>
      <label class="loggingLabel" for="repeat_password">Repeat Password</label>
      <input
        name="repeat_password"
        id="repeat_password"
        type="password"
        placeholder="Re-Enter Password"
        class="loggingText"
        required
      >
      <p class="loggingTextErrorMessage errorText">Passwords don't match</p>
      <button class="btnLogin" id="btnLogin">Sign Up</button>
    </form>
  </div>
  <div class="signUpContainer">
    <a href="/auth/login">Already registered? Log In</a>
  </div>
</div>
<script src="/js/register.js"></script>
