.dashboardTopicPageContainer { 
    min-height:100vh;
    overflow:hidden;
  }
  .dashboardOptionsContainer {
    margin-top:50px;
    height:2rem;
    text-align:center;
  }
  .dashboardOptionsContainer > div {
    display:inline;
  }
  .dashboardOptionsContainer button {
    border:none;
    width:2rem;
    height:2rem;
    color:#FFF;
    background-color:initial;
  }
  .dashboardOptionsContainer > div:first-child button {
    background-image: url('../../assets/svg/topicIcons5.png');
    background-position:0px 0px;
    background-repeat:no-repeat;
    
  }
  .dashboardOptionsContainer > div:first-child button:hover {
    background-image: url('../../assets/svg/topicIcons5.png');
    background-position:-32px 0px;
    background-repeat:no-repeat;
  }
  .dashboardOptionsContainer > .selectAllTopicsContainer button {
    background-image: url('../../assets/svg/topicIcons5.png');
    background-position:-192px 0px;
    background-repeat:no-repeat;
  }
  .dashboardOptionsContainer > .selectAllTopicsContainer > .selectedAll {
    background-image: url('../../assets/svg/topicIcons5.png');
    background-position:-224px 0px;
    background-repeat:no-repeat;
  }
  .dashboardOptionsContainer > .deleteAllTopicsContainer button {
    background-image: url('../../assets/svg/topicIcons5.png');
    background-position:-128px 0px;
    background-repeat:no-repeat;
  }
  .dashboardOptionsContainer > .deleteAllTopicsContainer button.deleteSelected {
    background-position:-160px 0px;
  }
  .dashboardOptionsContainer > .refreshMetadataContainer > button {
    background-image: url('../../assets/svg/topicIcons5.png');
    background-position:-128px -32px;
    background-repeat:no-repeat;
  }
  .dashboardOptionsContainer > .refreshMetadataContainer > button.itemsSelected {
    background-image: url('../../assets/svg/topicIcons5.png');
    background-position:-192px -32px;
    background-repeat:no-repeat;
  }
  .newTopicFormContainer,
  .newVideoFormContainer,
  .editImageFormContainer {
    position:absolute;
    left:0;
    right:0;
    width:40rem;
    padding:0 2%;
    background-color:#503D55;
    color:#FFF;
    border-radius:1rem;
    z-index:1;
    overflow:auto;
  }
  .newTopicFormContainer {
    margin:calc(50vh - 22.5rem) auto 0 auto;
  }
  .newVideoFormContainer {
    margin:calc(50vh - 10.75rem) auto 0 auto;
  }
  .createTopicHeader {
    font-size:1.25rem;
    text-align: center;
  }
  .btnCancelNewTopic {
    padding:0.5rem 0.75rem;
    float:right;
    color:#FFF;
    background-color:#FF0000;
    border-radius:0.5rem;
    border:none;
  }
  .btnCancelNewTopic:hover {
    background-color:#C00002;
  }
  .newTopicFormContainer > h2,
  .newVideoFormContainer > h2,
  .editImageFormContainer > h2 {
    padding:1rem 0;
  }
  .editImageFormContainer > h2 {
    text-align:center;
    padding-left:2.25rem;
  }
  .newTopicNameDifficultyContainer {
    display:flex;
    flex-flow:column;
    flex-wrap:wrap;
    height:4rem;
  }
  .newTopicNameDifficultyContainer input,
  .newTopicNameDifficultyContainer select {
    padding-left:0.5rem;
    margin-top:0.5rem;
    height:1.5rem;
    color:#FFF;
    background-color:#6A5A76;
    border:none;
  }
  .newTopicNameDifficultyContainer input {
    width:90%;
  }
  .newTopicNameDifficultyContainer select {
    width:100%;
  }
  .newVideoFormContainer > input {
    padding-left:0.5rem;
    margin-left:0.5rem;
    width:65%;
    height:1.5rem;
    color:#FFF;
    background-color:#6A5A76;
    border:none;
  }
  .newTopicNameDifficultyContainer input:focus,
  .newTopicNameDifficultyContainer select:focus,
  .newVideoFormContainer > input:focus {
    background-color:#5A4C6D;
  }
  .newTopicDescriptionContainer {
    margin-top:1rem;
  }
  .newTopicDescriptionContainer > label {
    display:block;
  }
  .newTopicDescriptionContainer > textarea {
    margin-top:0.5rem;
    width:99%;
    height:8rem;
    color:#FFF;
    background-color:#6A5A76;
    border:none;
  }
  .newTopicDescriptionContainer > textarea:focus {
    background-color:#5A4C6D;
  }
  .newTopicFileContainer {
    margin:1rem 0;
    width:100%;
  }
  .file-upload {
    height:9rem;
    background-color:#6A5A76;
    display:block;
    text-align: center;
  }
  .file-upload > div {
    padding-top:3.75rem;
  }
  .file-upload img {
    max-height:7rem;
    max-width:90%;
    padding:1rem 0;
  }
  .file-upload:hover {
    background-color:#5A4C6D;
  }
  .fileSizeLimit {
    float:right;
  }
  .newTopicAddBtn {
    text-align:center;
  }
  .newTopicAddBtn > button {
    padding:0.5rem 0.75rem;
    margin:1rem 0;
    border:none;
    border-radius:0.5rem;
    color:#FFF;
    background-color:#108B51;
    text-transform: capitalize;
  }
  .newTopicAddBtn > button:hover {
    background-color:#306F4A;
  }
  .editImageFormContainer {
    height:30rem;
    margin:calc(50vh - 20.125rem) auto;
  }
  .editTopicImageImageContainer {
    margin:0 auto;
    height:10rem;
    width: 24rem;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    text-align:center;
  }
  .editTopicImageImageContainer > p {
    padding-top:4rem;
  }
  .itemsSelectedContainer {
    margin:1rem auto;
    padding:0.5rem 1rem;
    width:80%;
    height:1.25rem;
    color:#FFF;
  }
  .itemsSelected {
    background-color:rgba(0,170,253,0.5);
  }
  .dashboardTopicHeader {
    font-size: 2rem;
    text-align: center;
    color:#FFF;
  }
  .dashboardTopicList {
    width: 90%;
    margin: 1rem auto 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  .dashboardTopicList > .dashboardTopicWrapper,
  .dashboardTopicList > .dashboardTopicWrapperEdit{
    background-color: #21112b;
    background-clip:padding-box;
    color:#FFF;
    flex-basis: 30%;
    margin:2rem 1.5% 0 1.5%;
    border:2px solid transparent;
  }
  .dashboardTopicList > .dashboardTopicWrapper:not(.topicButtonsContainer):hover {
    background-color: #3b1c4e;
  }
  .dashboardTopicList > .dashboardTopicWrapperSelected {
    border:2px solid rgb(242,220,83);
  }
  .topicButtonsContainer {
    width:100%;
    height:32px;
    background-color:#222;
  }
  .btnSelectTopic {
    width:32px;
    height:32px;
    border:none;
    background-image:url('../../assets/svg/topicIcons5.png');
    background-repeat: no-repeat;
    background-position:-64px 0px;
    background-color:initial;
  }
  .btnSelectTopicSelected {
    background-position:-96px 0px;
  }
  .dashboardTopicList > .dashboardTopicWrapper a,
  .dashboardTopicList > .dashboardTopicWrapperEdit a {
    text-decoration: none;
  }
  .dashboardTopicWrapper:hover .btnTopicEdit,
  .dashboardTopicWrapperEdit:hover .btnTopicEdit {
    display: inline;
  }
  .dashboardTopicWrapper:hover .btnTopicDelete,
  .dashboardTopicWrapperEdit:hover .btnTopicDelete {
    display: inline;
  }
  .dashboardTopicContainer {
    display:flex;
    height:10rem;
  }
  .topicImageContainer {
    flex:1;
    text-align: center;
    background-repeat:no-repeat;
    background-size:contain;
    background-position: center;
  }
  .topicInfo {
    flex:3;
  }
  .dashboardTopicFirstRow {
    display: flex;
  }
  .topicName {
    margin-left: 1rem;
    margin-right: auto;
    font-size: 2rem;
  }
  .topicDifficulty {
    margin-top: 0.5rem;
    margin-left: 1rem;
  }
  .topicButtons {
    display: flex;
    float:right;
  }
  .btnTopicEdit {
    border: none;
    margin-left: auto;
    display: none;
    width:32px;
    height:32px;
    background-color:#222;
  }
  .btnTopicEdit img {
    width: 1rem;
  }
  .btnTopicDelete {
    border: none;
    width:32px;
    height:32px;
    display: none;
    background-color:#222;
  }
  .btnTopicDelete img {
    width: 1rem;
  }
  .topicDescription {
    margin-top: 1rem;
    margin-left: 1rem;
    padding-bottom: 1rem;
  }
  .lblTopicName,
  .lblTopicName + input {
    margin-top: 1.5rem;
    margin-left: 1rem;
  }
  .lblTopicName + input {
    background-color:#242424;
    color:#FFF;
    border:none;
    padding:0.25rem;
  }
  .editDifficultyContainer {
    margin-top:1rem;
  }
  .lblTopicDifficulty,
  .lblTopicDescription + select {
    margin-top: 1.5rem;
    margin-left: 1rem;
  }
  .lblTopicDifficulty + select {
    background-color:#242424;
    color:#FFF;
    margin-left:1rem;
    padding:0.25rem;
    border:none;
  }
  .lblTopicDescription {
    display: block;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .lblTopicDescription + textarea {
    margin:1rem 0 1rem 1rem;
    background-color:#242424;
    color:#FFF;
    border:none;
    width:90%;
  }
  .dashboardTopicVideoHeader {
    margin-top: 3rem;
    font-size: 2rem;
    text-align: center;
  }
  .dashboardVideosContainer {
    display:flex;
    margin-top:1rem;
    height:calc(100vh - 12.75rem);
    min-height:40rem;
    background-color:inherit;
  }
  .dashboardTopicLeft {
    flex:1;
    color:#FFF;
  }
  .dashboardTopicLeft > p:first-child {
    text-align:center;
    font-size:2rem;
  }
  .dashboardTopicLeft > p:first-child > a {
    text-decoration:none;
    font-size:2rem;
    float:left;
    margin-left:1rem;
  }
  .dashboardTopicLeft > p:nth-child(2),
  .dashboardTopicLeft > p:last-child {
    margin:0 1rem;
  }
  .topicPageImageContainer {
    height:150px;
    width:25rem;
    padding:1rem 0;
    margin:1rem auto;
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center;
    background-origin:content-box;
    cursor:pointer;
  }
  .topicPageImageContainer:hover {
    background-color:#503D55;
  }
  .dashboardTopicVideosList {
    width:50vw;
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    overflow:auto;
    min-height:40rem;
    height:calc(100vh - 50px - 6.25rem);
  }
  .dashboardTopicVideosList > h2 {
    text-align:center;
    color:#FFF;
  }
  .dashboardTopicVideoContainer {
    display:flex;
    color:#FFF;
    min-height:calc(12rem / 1.78);
    width:100%;
  }
  .videoOptionsPanel {
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    width:32px;
    background-color:#111;
    background-clip: padding-box;
    border-left:solid 2px transparent;
    text-align:center;
  }
  .videoOptionsPanelSelected {
    border-color:rgb(242,220,83);
  }
  .btnSelectVideo {
    width:32px;
    height:32px;
    border:none;
    background-image:url('../../assets/svg/topicIcons5.png');
    background-repeat: no-repeat;
    background-position:-64px 0px;
    background-color:initial;
  }
  .btnSelectVideoSelected {
    background-position:-96px 0px;
  }
  .videoOptionsPanel button {
    color:#fff;
    background-color:initial;
    border:none;
  }
  .videoOptionsPanel button:hover {
    color:rgb(242,220,83);
  }
  .dashboardTopicVideosList > .dashboardTopicVideoContainer:first-child .videoOptionsPanel > p:first-child {
    visibility: hidden;
  }
  .dashboardTopicVideosList > .dashboardTopicVideoContainer:last-child .videoOptionsPanel > p:last-child {
    visibility: hidden;
  }
  .editVideoForm {
    width:calc(100% - 2rem - 12.125rem);
  }
  .editVideoForm > form {
    width:100%;
  }
  .editVideoForm > form > .firstRow {
    width:100%;
    height:1.75rem;
    display:flex;
  }
  .editVideoForm > form input {
    color:#FFF;
    background-color:#503D55;
    border:none;
    padding:0.125rem 0.5rem;
    margin:0.25rem 0.5rem 0;
    width:calc(100% - 7rem);
  }
  .editVideoForm > form textarea {
    color:#FFF;
    background-color:#503D55;
    border:none;
    padding:0.25rem 0.5rem;
    margin-left:0.5rem;
    width:calc(100% - 2rem);
    height:3.5rem;
    margin-top:0.5rem;
    resize:none;
  }
  .editVideoButtons {
    margin-left:0.5rem;
    width:4.5rem;
  }
  .btnSaveEdit {
    border:none;
    background-color:initial;
    background-image:url('/assets/svg/accept.png');
    background-size: contain;
    height:1rem;
    width:1rem;
    margin-right:0.5rem;
  }
  .btnCancelEdit {
    border:none;
    background-color:initial;
    background-image:url('/assets/svg/cancel.png');
    background-size: contain;
    height:1rem;
    width:1rem;
    margin-right:0.5rem;
  }
  .videoThumbnailContainer {
    min-width:12rem;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:left;
  }
  .displayVideoInfo {
    width:calc(100% - 2rem - 12.125rem);
    background-color:#1B1321;
  }
  .videoContentContainer {
    width:100%;
  }
  .dashboardTopicVideoContainerFirstRow {
    display: flex;
    width:100%;
  }
  input.ytUrl {
    display:block;
    width:95%;
    padding:0.5rem;
    margin:1rem auto;
    color:#FFF;
    background-color:#6A5A76;
    border:none;
  }
  input.ytUrl:focus {
    background-color:#5A4C6D;
  }
  .dashboardVideoTitle {
    width:calc(100% - 5rem);
    height:1.25rem;
    margin: 0.5rem auto 0 1rem;
    overflow:hidden;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .dashboardVideoTitle > a {
    text-decoration: none;
  }
  .btnEditDelete {
    width:5rem;
    display:flex;
    align-items:flex-start;
    margin:0.5rem 0;
  }
  .btnVideoEdit {
    border:none;
    background-color: initial;
  }
  .btnVideoEdit img {
    width:1rem;
  }
  .btnVideoDelete {
    padding:1px 0.5rem 0 0.5rem;
    border: none;
    margin-right: 1rem;
    background-color: initial;
  }
  .btnVideoDelete img {
    width: 1rem;
  }
  .vidDescriptionContainer {
    margin:0 1rem;
    max-height:3.75rem;
    color:#AAA;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow:hidden;
  }
  .videoContentContainer > p:last-child {
    margin:0 1rem;
  }
  .dashboardVideoDescription {
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .dashboardVideoViewsLikes {
    display: flex;
    padding-bottom: 1rem;
    margin-top: 1rem;
  }
  .dashboardVideoViews {
    margin: 0 auto 0 1rem;
  }
  .dashboardVideoLikes {
    margin-right: 1rem;
  }
  @media (max-width:1300px) {
    .dashboardTopicList {
      width: 90%;
    }
    .dashboardTopicList > .dashboardTopicWrapper,
    .dashboardTopicList > .dashboardTopicWrapperEdit{
      flex-basis: 45%;
      margin:2rem 2% 0 2%;
    }
  }
  @media (max-width:1100px) {
    .newVideoFormContainer label {
      display:block;
      text-align:center;
    }
    .dashboardTopicList {
      width: 90%;
    }
    .dashboardVideosContainer {
      flex-direction: column;
    }
    .dashboardTopicVideosList {
      width:100%;
      margin-top:1rem;
    }
    .dashboardTopicVideosList > h2 {
      margin-top:3rem;
    }
  }
  @media (max-width:42rem) {
    .newTopicFormContainer,
    .newVideoFormContainer,
    .editImageFormContainer {
      width:95%;
    }
    .newVideoFormContainer label {
      display:block;
      text-align:center;
    }
    .searchContainer > .searchContainerForm > input {
      width:90%;
    }
    .dashboardTopicList {
      width: 90%;
    }
    .dashboardTopicList > .dashboardTopicWrapper,
    .dashboardTopicList > .dashboardTopicWrapperEdit{
      flex-basis: 100%;
    }
    input.ytUrl {
      display:block;
      width:95%;
    }
    .full {
      display:none;
    }
    .short {
      display:block;
    }
    .dashboardTopicVideoContainer {
      height:6.5rem;
      min-height:6.5rem;
    }
    .videoThumbnailContainer {
      display:none;
    }
    .displayVideoInfo {
      width:calc(100% - 2rem);
    }
    .editVideoForm {
      width:calc(100% - 2rem);
    }
    .editVideoForm > form textarea {
      height:3.5rem;
    }
  }
  @media (max-width:25rem) {
    .dashboardOptionsContainer {
      margin-top:100px;
    }
    .dashboardTopicVideoContainer {
      height:7.5rem;
      min-height:7.5rem;
    }
    .vidDescriptionContainer {
      max-height:4.75rem;
      -webkit-line-clamp: 4;
    }
    .editVideoForm > form textarea {
      height:4.5rem;
    }
  }
  @media (max-height:34.75rem) {
    .newTopicFormContainer {
      margin:-5.125rem auto 0 auto;
      height:100vh;
    }
  }
  @media (max-height: 30rem) {
    .editImageFormContainer {
      margin-top:0;
      top:0;
      height:100vh;
    }
  }
  @media (max-height:11rem) {
    .newVideoFormContainer {
      margin:-5.125rem auto 0 auto;
      height:100vh;
    }
  }