a:focus-visible, 
button:focus-visible {
  outline:solid 2px red;
}
input:focus-visible{
  outline:solid 2px rgb(242,220,83);
}
.loggingContainer {
    width:100%; 
    min-height: 100vh;
    overflow:hidden;
  }
  .loggingFormContainer {
    background-color:#1B1321;
    width: 40rem;
    margin: 7.5rem auto 0;
    padding: 2rem 2rem;
    border-radius:1rem;
  }
  .loggingHeader {
    color: #FFF;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  }
  .loggingLabel {
    display: block;
    padding: 1rem 0 0.5rem 0;
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;
  }
  .loggingText {
    width: 98%;
    height: 2rem;
    color:#FFF;
    background-color: #242424;
    border: solid 1px #d8d8d9;
    padding-left: 1%;
    filter:none;
  }
  .loggingText:-webkit-autofill,
  .loggingText:-webkit-autofill:hover, 
  .loggingText:-webkit-autofill:focus, 
  .loggingText:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #444 inset !important;
    -webkit-text-fill-color: #CCC;
  }
  .loggingTextError {
    border: solid 2px red;
  }
  .loggingTextErrorMessage {
    display: none;
    margin-top: 0.5rem;
  }
  .loggingTextErrorMessageShow {
    display: block;
  }
  .btnLogin {
    width: 100%;
    margin: 2rem 0 0.5rem 0;
    padding: 0.5rem 0;
    border: none;
    background-color: #108B51;
    border-radius:1rem;
    color: #fff;
    text-transform: uppercase;
    font-weight:bold;
  }
  .btnLoginError {
    background-color: #44634c;
    color:#BDBCBC;
    cursor:not-allowed;
  }
  .signUpContainer {
    width: 42rem;
    margin: 0.5rem auto;
    color: #fff;
    text-align: right;
  }
  .signUpContainer a {
    color: #fff;
    text-decoration: none;
  }
  @media (max-width:45rem) {
    .loggingFormContainer {
      max-width:40rem;
      width:90%;
      padding: 2rem 4%;
    }
    .signUpContainer {
      width: 93%;
      color: #fff;
      text-align: right;
    }
  }
  @media (max-width:25rem) {
    .loggingFormContainer {
      margin: calc(5rem + 50px) auto 0;
    }
  }