.icon {
    height:1rem;
}
.settingsPageContainer {
    width:100%;
    min-height:100vh;
    color:#FFF;
    overflow:hidden;
}
.settingsPageContainer > h1 {
    margin-top:50px;
    padding-top:1rem;
    text-align:center;
    font-size:2rem;
}
.settingsPageContainer a {
    text-decoration:none;
    font-size:2rem;
}
.settingsContainer {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    width:50rem;
    margin:0 auto 1rem;
    padding:1rem 0;
}
.settingsContainer:last-child{
  background-color: initial;
}
.settingsContainer:not(:first-child) {
    margin-top:1rem;
}
.settingsContainer > h2 {
    width:100%;
    padding-bottom:1rem;
    text-align:center;
}
.settingContainer {
    width:calc(50% - 1rem);
    text-align:right;
    padding-top:0.5rem;
}
.settingsContainer,
.settingsChannelBannerContainer {
  padding:1rem;
  background-color:#503D55;
}
.basicInfoContainer {
    width:100%;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.basicInfoContainer > div {
    width:calc(49% - 1rem);
    margin-top:1rem;
}
.settingInfoPropertyHeader {
  font-weight:bold;
  color:#BFB6C7;
  border-right:solid 2px #BFB6C7;
}
.settingInfoPropertyHeader > p {
  margin:0 1rem 0.25rem 0;
  min-height:1.5rem;
  font-size:1.125rem;
}
.txtInfoContainer {
  display:flex;
  justify-content: space-between;
}
.txtInfoContainer:nth-child(2) {
  align-items:center;
}
.txtInfoContainer > p {
  width:calc(100% - 2rem);
  height:1.5rem;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}
.txtInfoContainer > .txtAboutMe {
  height:initial;
  white-space: pre-line;
}
.txtInfoContainer > div:not(:first-child) {
  width:1.25rem;
}
.editInfoContainer {
  display:flex;
  justify-content: space-between;
}
.editInfoContainer > div:first-child {
  width:calc(100% - 3rem);
}
.editInfoContainer > div:last-child {
  width:3rem;
}
.noDisplayName {
    font-style: italic;
}
.settingsProfilePic {
    display:inline-block;
    width:5rem;
    height:5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    border-radius:50%;
}
.profilePicButtons {
  max-width:3rem;
}
.basicInfoEditButtons {
    border:none;
    background: none;
}
.basicInfoEditButtons > img {
  width:0.875rem;
  height:0.875rem;
}
.basicInfoEditButtons:last-child {
  margin-top:0.5rem;
}
.inputLabel {
  width:calc(100% - 1rem);
  background-color:#6A5A76;
  color:#FFF;
  border:none;
}
.inputLabel:focus {
  background-color:#5A4C6D;
}
#editAboutMeContainer > textarea {
  height:8rem;
  width:calc(100% - 1rem);
  background-color:#6A5A76;
  color:#FFF;
  border:none;
}
#editAboutMeContainer > textarea:focus {
  background-color:#5A4C6D;
}
.editImageFormContainer {
    position:fixed;
    left:0;
    right:0;
    width:35rem;
    height:30rem;
    padding:0 2rem;
    background-color:#503D55;
    color:#FFF;
    border-radius:1rem;
    z-index:1;
    overflow:auto;
  }
  .createTopicHeader {
    font-size:1.25rem;
    text-align: center;
  }
  .btnCancelNewTopic {
    padding:0.5rem 0.75rem;
    float:right;
    color:#FFF;
    background-color:#FF0000;
    border-radius:0.5rem;
    border:none;
  }
  .btnCancelNewTopic:hover {
    background-color:#C00002;
  }
  .editImageFormContainer > h2 {
    padding:1rem 0;
  }
  .editImageFormContainer > h2 {
    text-align:center;
    padding-left:2.25rem;
  }
  .profilePicContainer,
  .bannerContainer {
    margin:calc(50vh - 15rem) auto;
  }
  .bannerContainer {
    margin:calc(50vh - 10rem) auto;
    height:20rem;
  }
  .editTopicImageImageContainer {
    margin:0 auto;
    height:10rem;
    width: 24rem;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    text-align:center;
  }
  .editTopicImageImageContainer > p {
    padding-top:4rem;
  }
  .newTopicFileContainer {
    margin:1rem 0;
    width:100%;
  }
  .file-upload {
    height:9rem;
    background-color:#6A5A76;
    display:block;
    text-align: center;
  }
  .file-upload > div {
    padding-top:3.75rem;
  }
  .file-upload img {
    max-height:7rem;
    max-width:90%;
    padding:1rem 0;
  }
  .file-upload:hover {
    background-color:#5A4C6D;
  }
  .fileSizeLimit {
    float:right;
  }
  .newTopicAddBtn {
    text-align:center;
  }
  .newTopicAddBtn > button {
    padding:0.5rem 0.75rem;
    margin:1rem 0;
    border:none;
    border-radius:0.5rem;
    color:#FFF;
    background-color:#108B51;
    text-transform: capitalize;
  }
  .newTopicAddBtn > button:hover {
    background-color:#306F4A;
  }
.settingsChannelBannerContainer {
    width:50rem;
    margin:1rem auto 0 auto;
}
.settingsChannelBannerContainer > h2 {
    text-align: center;
}
.channelBannerPreview {
    margin:1rem auto 0 auto;
    width:18rem;
    height:9rem;
    background-color:#242424;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.editDeleteBannerButtons {
    margin-top:1rem;
    text-align: center;
}
.editDeleteBannerButtons > button {
    width:6rem;
    padding:0.25rem 0;
    border:none;
}
.settingButtonContainer {
    width:calc(50% - 1rem);
    padding-left:1rem;
}
.btnSetting {
    height:32px;
    width:63px;
    border:none;
    background-image:url('../../assets/svg/topicIcons5.png');
    background-repeat:no-repeat;
    background-position:0px -32px;
    background-color:initial;
}
.btnSetting.btnSettingSelected {
    background-position:-64px -32px;
}
.deleteAccountButtonContainer {
    width:100%;
    text-align:center;
}
.deleteAccountButton,
.deleteAccountConfirm button {
    padding:0.25rem 0.5rem;
    background-color:#FF0000;
    color:#FFF;
    border:none;
    text-transform: uppercase;
    font-weight:bold;
}
.deleteAccountButton:hover,
.deleteAccountConfirm button:hover {
    background-color:#C00002;
}
.modalDeleteAccount {
    position:fixed;
    left:0;
    right:0;
    width:37rem;
    margin:calc(50vh - 6.875rem) auto;
    background-color:#503D55;
    color:#FFF;
    border-radius:1rem;
    overflow:auto;
    z-index:1;
}
.modalDeleteAccount > h2 > .btnCancelDeleteAccount {
    padding:0.5rem 0.75rem;
    margin-right:1rem;
    float:right;
    color:#FFF;
    background-color:#FF0000;
    border:none;
    border-radius:0.5rem;
}
.modalDeleteAccount > h2 > .btnCancelDeleteAccount:hover {
  background-color:#C00002;
}
.modalDeleteAccount > h2 {
    padding:1rem 0;
    margin-left:3rem;
    text-align:center;
    font-size:1.5rem;
}
.modalDeleteAccount > p {
    text-align:center;
}
.modalDeleteAccount > ul {
    text-align:center;
    margin:0.5rem 0;
    list-style-type: "-";
}
.modalDeleteAccount li {
    margin:0.5rem 0;
}
.deleteAccountConfirm {
    margin:1rem auto;
    text-align:center;
}
@media (max-width:55rem) {
  .settingsContainer,
  .settingsChannelBannerContainer {
    width:calc(100% - 4rem);
  }
}
@media (max-width:39rem) {
  .editImageFormContainer {
    width:calc(100% - 4rem);
  }
  .modalDeleteAccount {
    width:calc(100% - 2rem);
  }
  .txtInfoContainer,
  .editInfoContainer {
    flex-wrap: wrap;
  }
  .txtInfoContainer > .settingsProfilePic {
    width:3.5rem;
    height:3.5rem;
    margin-right:calc(100% - 4rem);
  }
  .basicInfoEditButtons {
    margin-top:0.5rem;
  }
  .txtInfoContainer > p,
  .editInfoContainer > div:first-child {
    width:100%;
  }
  #editAboutMeContainer > textarea {
    height:10rem;
  }
  .channelBannerPreview {
    width:14rem;
    height:7rem;
  }
}
@media (max-height:14rem) {
    .modalDeleteAccount {
        margin:0 auto;
        height:100vh;
    }
    .bannerContainer {
        margin-top:0;
        top:0;
        height:100vh;
    }
}
@media (max-height:19.5rem) {
    .bannerContainer {
        margin-top:0;
        top:0;
        height:100vh;
    }
}
@media (max-height: 30rem) {
    .profilePicContainer {
      margin-top:0;
      top:0;
      height:100vh;
    }
}
@media (max-width: 25rem) {
  .settingsPageContainer > h1 {
    margin-top:100px;
  }
}