.not-found-header {
    padding:1rem 2rem;
    margin:2rem auto 0 auto;
    background-color:var(--primary-bg-color-lt2);
    width:fit-content;
    color:#FFF;
    text-align:center;
    font-size:2rem;
    border-radius:1rem;
}