nav {
    display:flex;
    justify-content: space-between;
    width:100vw;
    height:3rem;
    background-color:gray;

    .navLinks {
        display:flex;
        a {
            display:block;
            padding:1rem;
            color:blue;
            background-color: pink;
            text-decoration: none;
        }
    }
}